.bg-dark {
  padding: 10px 50px !important;
}

ul {
  list-style: none;
}

.app-link {
  text-decoration: none !important;
  color: rgb(139, 199, 164) !important;
  margin: 10px;
}

.app-link:hover {
  color: #b81770 !important;
}

.active-link {
  color: rgb(8, 199, 110) !important;
}
